if has nix; then
    use flake
fi

shopt -s globstar
watch_file src/**/*.cpp
watch_file src/**/*.hpp
watch_file src/**/*.qml
watch_file src/**/*.vert
watch_file src/**/*.frag
watch_file **/CMakeLists.txt

cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_CXX_COMPILER=clazy -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DDISTRIBUTOR=direnv
cmake --build build
export CAELESTIA_LIB_DIR="$PWD/build/lib"
export QML2_IMPORT_PATH="$PWD/build/qml:${QML2_IMPORT_PATH:-}"
